@charset "UTF-8";

/*CONFIGURAÇÕES GERAIS*/

*{
    margin: 0px;
    padding: 0px;
}

:root{
    /*CORES*/
    --cor0: white;
    --cor1: #014aad;
    --cor2: #fcc729;
    --cor3: #cd2418;

    /*FONTES*/
    --fonte-padrao: font-family: 'Arial, Helvetica, sans-serif';
}

html, body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}



nav{
    background-color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
    padding: 10px;
}

nav > a{
    color: var(--cor0);
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover{
    color: var(--cor2);
    background-color: var(--cor0);
    text-decoration: underline;
    border-radius: 10px;
}

main {
    margin-top: 30px;
    margin-left: 10%;
    min-width: 320px;
    max-width: 800px;
    padding: 15px;

    background-color: var(--cor0);
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
}

.main{
    margin: auto;
    margin-top: 30px;
}

.projeto{
    width: 700px;
    margin: auto;
}
.card{
    margin: auto;
    width: 100%;
    text-align: center;
}
.imagem img{
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }
  #menu{
      display: none;
  }
button{
    margin-top: 20px;
    width: 700px;
    border-radius: 15px;
    height: 60px;
    border: none;
    background-color: #fcc729;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
button:hover{
    background-color: #ffbf00;
}

.linha {
    color: #004aad;
    border: 2px solid;
    border-radius: 15px;
}

main h1{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
}

main h2{
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-indent: 0.5em;
    text-align: left;
    line-height: 1.5em;
}

main h3{
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}

main p{
    color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin-left: 27px;
    margin-right: 27px;
}

main p strong{
    color: var(--cor3);
}

main img {
    display: block;
    margin: auto;
}

main ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    color: #014aad;
    margin-left: 70px;
}

/*media screen*/

@media screen and (min-width: 300px) and (max-width: 1024px){
    #menu{
        display: block;
        text-align: left;
        color: #ffbf00;
        width: 80%;
        padding: 10px;
    }
    #list{
        width: 40%;
        margin: auto;
        height: 300px;
        position: absolute;
        display: none;
    }
    a{
        display: list-item;
        text-align: center;
    }

    #colab{
        width: 100%;
    }
  
    
}